# Ignore everything
*

# But not these files/folders
!.gitignore
!300BaiCodeThieuNhi/
# Cho phép tất cả các tệp trong thư mục 300BaiCodeThieuNhi
!300BaiCodeThieuNhi/**
!dataStructure/
!dataStructure/**